{% extends 'admin/master.html' %}
{% block body %}
    <h1 class="text-center text-info">Thong Ke Bao Cao</h1>
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <table class="table">
                <tr>
                    <th>MaSP</th>
                    <th>Ten San Pham</th>
                    <th>Doanh Thu</th>
                </tr>
                {% for s in stats %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{"{:,.0f}".format(s[2])}} VND</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-7 col-xs-12">
            <form class="d-flex me-4" method="get" action="">
                <input class="form-control me-2" type="text" name="kw" placeholder="Nhap ten san pham">
                <button class="btn btn-primary" type="submit">Tim</button>
            </form>
            <canvas id="MyChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <table class="table">
                <tr>
                    <th>Thang</th>
                    <th>Doanh Thu</th>
                </tr>
                {% for s in BieuDo_Thang_SP %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{"{:,.0f}".format(s[1])}} VND</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-7 col-xs-12">
            <form class="d-flex me-4" method="get" action="">
                <input class="form-control me-2" type="number" name="year" placeholder="Nhap nam">
                <button class="btn btn-primary" type="submit">Tim</button>
            </form>
            <canvas id="MyChart2"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-xs-12">
            <table class="table">
                <tr>
                    <th>Nam</th>
                    <th>Thang</th>
                </tr>
                {% for s in BieuDo_Nam_SP %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{"{:,.0f}".format(s[1])}} VND</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-7 col-xs-12">
            <canvas id="MyChart3"></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let data = [];
        let labels = [];
        let mdata = [];
        let mlabels = [];
        let ydata = [];
        let ylabels = [];

        {% for s in stats %}
        data.push({{s[2]}})
        labels.push('{{s[1]}}')
        {% endfor %}

        {% for s in BieuDo_Thang_SP %}
        mdata.push({{s[1]}})
        mlabels.push({{s[0]}})
        {% endfor %}

        {% for s in BieuDo_Nam_SP %}
        ydata.push({{s[1]}})
        ylabels.push({{s[0]}})
        {% endfor %}

        window.onload = function(){
            const ctx = document.getElementById('MyChart');

            new Chart(ctx,{
                type: 'bar',
                data: {
                    labels: labels,
                    datasets:[{
                        label: '#Doanh thu',
                        data: data,
                        borderWidth: 2
                    }]
                },
                options: {
                    scales:{
                        y:{
                            beginAtZero: True
                        }
                    }
                }
            });

            const ctx2 = document.getElementById('MyChart2');

            new Chart(ctx2,{
                type: 'bar',
                data: {
                    labels: mlabels,
                    datasets:[{
                        label: '#Doanh thu',
                        data: mdata,
                        borderWidth: 2
                        backgroundColor: ['red', 'yellow','blue']
                    }]
                },
                options: {
                    scales:{
                        y:{
                            beginAtZero: True
                        }
                    }
                }
            });

            const ctx3 = document.getElementById('MyChart3');

            new Chart(ctx3,{
                type: 'bar',
                data: {
                    labels: ylabels,
                    datasets:[{
                        label: '#Doanh thu',
                        data: ydata,
                        borderWidth: 2
                        backgroundColor: ['red', 'yellow','blue']
                    }]
                },
                options: {
                    scales:{
                        y:{
                            beginAtZero: True
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}