
<div class="col-xs-12 col-md mt-4">
    <div class="card {% if s['SLTonKho'] == 0 %}out_of_stock{% endif %} m-auto"
         style="width: 192px; position: relative;">
        <a href="{{url_for('chi_tiet_san_pham', MaSP=s['MaSP'])}}" class="text-decoration-none">
            <img class="card-img-top"
                 src="{{ s['AnhBia'] }}"
                 alt="Card image" style="height: 271px;">
        </a>
        <div class="card-body p-2">
            <a class="card-title text-dark text-decoration-none mb-1 text-line-clamp"
               href="{{url_for('chi_tiet_san_pham', MaSP=s['MaSP'])}}"
               style="cursor: pointer;">{{ s['TenSP'] }}</a>
            <span class="card-text text-danger mb-2" style="cursor: pointer;">{{ s['Gia'] }} VNĐ </span>
            {% if s['SLTonKho'] != 0 %}
            <span class="ms-5 text-dark"
                  onclick="addToCart('{{s['MaSP']}}', '{{s['TenSP']}}', {{s['Gia']}},{% if current_user.is_authenticated and current_user.LoaTK|string == 'LoaiTK.KHACHHANG' %}{{ current_user.MaTK }}{% else %}''{% endif %}, {{s['SLTonKho']}}, 1)"><i
                    class="fa fa-shopping-cart text-hover"
                    style="font-size:24px;"></i></span>
            {% endif %}
        </div>

    </div>
</div>
