<div class="row">
    <!-- Left Container -->
    {% include 'layout/price_filter.html' %}

    <!-- Right Container -->
    <div class="col-md-9 col-sm-12 bg-light mt-3">
        <div class="row">
            <h2 class="col-md-7 p-2">{{ t.TenTheLoai }}</h2>
            <div class="col-md-5 d-flex align-items-center justify-content-end">
                <p class="p-3">Sắp xếp</p>
                <select name="SortBy" id="SortBy" style="transform: translateY(-25%);" onchange="updateOrder()">
                    <option value="manual" {% if not order or order == 'manual' %} selected {% endif %}>Tùy chọn</option>
                    <option value="best-selling" {% if order == 'best-selling' %} selected {% endif %}>Bán chạy nhất</option>
                    <option value="title-ascending" {% if order == 'title-ascending' %} selected {% endif %}>Tên A-Z</option>
                    <option value="title-descending" {% if order == 'title-descending' %} selected {% endif %}>Tên Z-A</option>
                    <option value="price-ascending" {% if order == 'price-ascending' %} selected {% endif %}>Giá tăng dần</option>
                    <option value="price-descending" {% if order == 'price-descending' %} selected {% endif %}>Giá giảm dần</option>
                    <option value="created-descending" {% if order == 'created-descending' %} selected {% endif %}>Mới nhất</option>
                    <option value="created-ascending" {% if order == 'created-ascending' %} selected {% endif %}>Cũ nhất</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            {% for s in SanPham[t.MaSP|string] %}
                {% include 'layout/card-item.html' %}
            {% endfor %}
        </div>
        <ul class="pagination mt-1 justify-content-center">
            {% for i in range(Trangs) %}
            <li class="page-item"><a class="page-link {% if Trang|int == (i + 1) %}bg-primary text-white{% endif %}" href="{{ url_for('TrangChu', theloai=t.Ma|string, Trang=i+1, GiaCa=GiaCa, DatHang=DatHang) }}">{{ i + 1 }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>