
<footer id="footer" class="mt-3">
    <hr/>
    <div class="ft-content container d-flex">
        <div class="container d-flex">
            <div class="inner d-flex flex-column">
                <div class="d-flex justify-content-between row">
                    <div class="col-md-3 col-sm-12">
                        <div class="ft-nav">
                            <h4>Dịch vụ</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">Điều khoản sử dụng</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">Chính sách bảo mật</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">Liên hệ</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">Hệ thống Fasshion Shop</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">Tra cứu đơn hàng</a>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-12">
                        <div class="ft-nav">
                            <h4>Hỗ trợ</h4>
                            <ul class="list-unstyled">

                                <li>
                                    <a href="javascript:;" class="text-decoration-none">Hướng dẫn đặt hàng</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none">Chính sách đổi trả - hoàn tiền</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none">Phương thức vận chuyển</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none">Phương thức thanh toán</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none">Chính sách khách hàng mua sỉ</a>
                                </li>

                                <li>
                                    <a href="javascript:;" class="text-decoration-none">Chính sách khách hàng cho
                                        trường học</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="ft-contact">
                            <h4>Fashion Shop</h4>
                            <div class="ft-contact-desc">
                                Giám đốc: Vũ Ngọc Đang
                            </div>
                            <div class="ft-contact-address">
                                Địa chỉ: Số 851/25, đường Huỳnh Tấn Phát, Quận 7, thành phố Hồ Chí Minh.
                            </div>
                            <div class="ft-contact-tel">
                                Số điện thoại: <a href="tel:(+84) 0386770297" class="text-decoration-none">(+84)
                                0386770297</a>
                            </div>
                            <div class="ft-contact-email">
                                Email: <a
                                    href="mailto:2151050081dang@ou.edu.vn " class="text-decoration-none">2151050081dang@ou.edu.vn </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="ft-social-network">
                            <h4>
                                Kết nối mạng xã hội
                            </h4>

                            <a type="button" class="btn btn-primary btn-floating mx-1 rounded-circle"
                                    style="width: 40px;" href="javascript:;">
                                <i class="fa fa-facebook-f"></i>
                            </a>

                            <a type="button" class="btn btn-danger btn-floating mx-1 rounded-circle"
                                    style="width: 40px;" href="javascript:;">
                                <i class="fa fa-google"></i>
                            </a>

                        </div>

                    </div>
                </div>

                <div class="d-flex row mt-2 mb-3">
                    <div class="col-md-3 col-sm-12">
                        <div class="ft-contact">
                            <h4>Giấy phép kinh doanh</h4>
                            <div class="content">
                                Giấy phép số: L 620/GP-BTTTT ngày 1/10/2024 của Bộ Thông tin và Truyền thông
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="ft-certification">


                            <a href="javascript:;"><img
                                    src="//theme.hstatic.net/200000343865/1001052087/14/ft_certi_img1.png?v=544"
                                    alt="Đã thông báo Bộ Công Thương"></a>


                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div>
                            <h4>Đăng ký nhận tin</h4>
                            <div>
                                Hãy nhập địa chỉ email của bạn vào ô dưới đây để có thể nhận được tất cả các tin tức mới
                                nhất của Fasshion Shop về các sản phẩm mới, các chương trình khuyến mãi mới. Fasshion Shop
                                xin đảm bảo sẽ không gửi mail rác, mail spam tới bạn.
                            </div>
                            <div class="row">
                                <div>
                                    <div class="input-group justify-content-between">
                                        <input type="email" value=2151050081dang@gmail.com"
                                               placeholder="Nhập email của bạn..." id="Email"
                                               class="col-md-8 col-sm-12 ps-2"
                                               aria-label="general.newsletter_form.newsletter_email">
                                        <button name="subscribe" id="subscribe"
                                                class="col-md-3 col-sm-12 bg-danger text-white border-0">Đăng ký
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-copyrights-wrapper">
        <div class="wrapper">
            <div class="inner">
                <div class="ft-copyrights text-center">
                    Copyrights © 2021 by <a href="javascript:;"
                                            class="text-decoration-none text-dark text-hover">FashionShop</a>.
                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">Powered
                        by Haravan</a>
                </div>
            </div>
        </div>
    </div>
</footer>
