
<section class="vh-100 mt-4">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://media.istockphoto.com/id/508417238/vi/vec-to/c%C3%A1c-lo%E1%BA%A1i-gi%C3%A0y-n%E1%BB%AF.jpg?s=612x612&w=is&k=20&c=QH8gstagIbes3nKOQ7ZX6h_Ij9aHOZUHLl4d11DmDTk="
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="" method="post">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Đăng nhập bằng</p>
            <button type="button" class="btn btn-primary btn-floating mx-1 rounded-circle" style="width: 40px;">
              <i class="fa fa-facebook-f"></i>
            </button>

            <a href="/google/login" type="button" class="btn btn-danger btn-floating mx-1 rounded-circle" style="width: 40px;">
              <i class="fa fa-google"></i>
            </a>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control form-control-lg"
              placeholder="Nhập địa chỉ email..." name="Email"/>
            <label class="form-label" for="email">Địa chỉ email</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" class="form-control form-control-lg"
              placeholder="Nhập mật khẩu..."  name="MatKhau"/>
            <label class="form-label" for="password">Mật khẩu</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Lưu thông tin đăng nhập
              </label>
            </div>
            <a href="/quenmatkhau" class="text-body">Quên mật khẩu?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng nhập</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Bạn chưa có tài khoản? <a href="/dangky"
                class="link-danger">Đăng ký</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
