
<section class="vh-100 mt-4">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://media.istockphoto.com/id/508417238/vi/vec-to/c%C3%A1c-lo%E1%BA%A1i-gi%C3%A0y-n%E1%BB%AF.jpg?s=612x612&w=is&k=20&c=QH8gstagIbes3nKOQ7ZX6h_Ij9aHOZUHLl4d11DmDTk="
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="/dangky" method="post">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Đăng nhập bằng</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1 rounded-circle"
                                style="width: 40px;">
                            <i class="fa fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1 rounded-circle"
                                style="width: 40px;">
                            <i class="fa fa-google"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
                    </div>

                    <!-- Họ và tên input -->
                    <div class="form-outline mb-4">
                        <input id="name" class="form-control form-control-lg"
                               placeholder="Nhập họ và tên..." name="HoTen"/>
                        <label class="form-label" for="name">Họ và tên</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg"
                               placeholder="Nhập địa chỉ email..." name="Email"/>
                        <label class="form-label" for="email">Địa chỉ email</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input id="username" class="form-control form-control-lg"
                               placeholder="Nhập tên tài khoản..." name="TenDangNhap"/>
                        <label class="form-label" for="username">Tên tài khoản</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="password" class="form-control form-control-lg"
                               placeholder="Nhập mật khẩu..." name="MatKhau"/>
                        <label class="form-label" for="password">Mật khẩu</label>
                    </div>

                    <!-- Pictures input -->
                    <div class="form-outline mb-3">
                        <input type="file" id="picture" class="form-control form-control-lg"
                               placeholder="Upload ảnh..." name="picture"/>
                        <label class="form-label" for="picture">Upload ảnh đại diện</label>
                    </div>
                    <div>
                        <button type="submit">Đăng Ký</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
