{% extends 'layout/base.html' %}
{% block title %}Tìm Kiếm{% endblock %}
{% block content %}
<div class="row">
    {% include 'layout/price_filter.html' %}
    <div class="col-md-9 col-sm-12 bg-light mt-3">
        <div class="row">
            <h2 class="col-md-7 p-2">Kết quả tìm kiếm</h2>
            <div class="col-md-5 d-flex align-items-center justify-content-end">
                <p class="p-3">Sắp xếp</p>
                <select name="SortBy" id="SortBy" style="transform: translateY(-25%);">
                    <option value="manual">Tùy chọn</option>
                    <option value="best-selling">Bán chạy nhất</option>
                    <option value="title-ascending">Tên A-Z</option>
                    <option value="title-descending">Tên Z-A</option>
                    <option value="price-ascending">Giá tăng dần</option>
                    <option value="price-descending">Giá giảm dần</option>
                    <option value="created-descending">Mới nhất</option>
                    <option value="created-ascending">Cũ nhất</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-wrap">
            {% for s in SanPham %}
            {% include 'layout/cart_item.html' %}
            {% endfor %}
        </div>
        <ul class="pagination mt-1 justify-content-center">
            {% for i in range(Trangs) %}
            <li class="page-item"><a class="page-link {% if Trang|int ==(i+1) %}bg-primary text-white{% endif %}" href="{{url_for('trang_chu', kw=kw|string, Trang = i+1, price_range=price_range, DatHang=DatHang)}}">{{i+1}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}